body { 
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.container {
	width: 98%;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}
#header {
	background-color: #611A1C;
	border: 3px solid blue;
}

.logo1 {
	box-sizing: border-box;
	width: 10%;
	padding-left: 1%;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
	border: 1px solid black;
	object-fit: contain;

}

.banner1 {
	box-sizing: border-box;
	width:25%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	position: relative;
	border: 1px solid black;
	margin-left: 63.8%;
	object-fit: contain;
}

#nav-bar1 {
	box-sizing: border-box;
	padding-left: 1%;
	background-color: #1A1A1A;
	padding-bottom: 0.2%;
	border: 1px solid yellow;
}

a {
	color: white;
	font-size: 120%;
	text-decoration: none;
}

main{
	border: 3px solid yellow;
	margin-left: 1%;
	margin-right: 1%;
}


.date {
	box-sizing: border-box;
	margin-right: 0%;
	text-align: right;
	border: 1px solid black;
}

p {
	margin-top: 0.1%;
	margin-bottom: 0.1%;
}


.overview1 {
	color: #4C4C4C;
	font-size: 125%;
	background-color: #DDDDDD;
}


.one {
	display: flex;
	flex-direction: row;
	background-color: blue;
	border: 3px solid black;
	width: 90%;
	height: 250px;
	justify-content: space-between;
	align-content: center;
}
	

.article-style1 {
	width: 30%;
	height: 85%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: white;
	border: 1px solid black;
	position: relative;
}

.overview2 {
	color: #4C4C4C;
	font-size: 125%;
	background-color: #DDDDDD;
	width: 90%;
}

.cover {
	width: 100%;
  	height: 100%;
  	object-fit: cover;
}

#img-one {
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-two{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-three{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

.p-one {
	height: 40%;
	background-color: black;
	color: white;
	font-size: 100%;
}

.two {
	display: flex;
	flex-direction: row;
	background-color: blue;
	border: 3px solid black;
	width: 90%;
	height: 250px;
	justify-content: space-between;
}

#img-four {
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-five{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-six{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

.aside1 {
	width: 09%;
	margin-top: 1.1%;
	height: 30.4em;
	border: 3px solid black;
	float: right;
	position: relative;
}

.fill {
	width: 100%;
  	height: 100%;
	object-fit: fill;
}

#banner2 {
	margin-left: 2.5%;
	margin-right: 2.5%;
	border: 3px solid black;
}

.three {
	display: flex;
	flex-direction: row;
	background-color: blue;
	border: 3px solid black;
	width: 90%;
	height: 18.5em;
	justify-content: space-between;
}

.article-style2 {
	width: 46%;
	height: 85%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: white;
	border: 1px solid black;
	position: relative;
}

#img-seven{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-eight{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

.four {
	display: flex;
	flex-direction: row;
	background-color: blue;
	border: 3px solid black;
	width: 90%;
	height: 18.5em;
	justify-content: space-between;
}

#img-nine{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}

#img-ten{
	height: 60%;
	width: 100%;
	border: 3px solid red;
}


.aside2 {
	width: 09%;
	margin-top: 1.1%;
	height: 34em;
	border: 3px solid black;
	float: right;
}

#nav-bar2 {
	box-sizing: border-box;
	padding-left: 1%;
	background-color: #1A1A1A;
	padding-bottom: 0.2%;
	border: 1px solid yellow;
}

.footer {
	background-color: #611A1C;
	border: 3px solid blue;
	height: 12em;
}

#newspaper{
	display: flex;
	justify-content: flex-end;

	height: 80%;
	width: 100%;
	border: 3px solid red;
}

.case-one{
	object-fit: contain;
	vertical-align: middle;
	padding-right: 1em;
	float: right;
	border: 2px solid yellow;
}

#name {
	text-align: center;
	border: 2px solid yellow;
	color: white;

}