body {
  background-color: lightgray;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

#container {
  width: 60rem;
  margin: 0 auto;
  background-color: white; }

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  background-color: #5F1A1C;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box; }

#headlineArea {
  flex: 1;
  margin: 2.5rem; }

#bannerArea {
  flex: 2;
  margin: 2rem; }

header img {
  width: 100%; }

nav {
  width: 100%;
  background-color: black;
  color: white;
  height: 3.8rem;
  padding: 0.2rem 1rem 0 1rem;
  box-sizing: border-box; }
  nav li {
    display: inline; }
  nav a {
    font-size: 120%;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem; }
  nav .active {
    color: red; }

main {
  margin: 1rem auto;
  width: 90%; }
  main img {
    width: 100%; }

article p {
  font-size: 130%; }

.dateRow {
  width: 100%;
  text-align: right; }

.bar {
  width: 100%;
  background-color: lightgray;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.columnRow {
  display: flex; }

.verticalBanner {
  width: 17%;
  margin-left: 0.8rem;
  margin-left: 0.8rem; }

.threeColStandard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%; }
  .threeColStandard .articleItem {
    width: 33%; }

.twoColStandard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%; }
  .twoColStandard .articleItem {
    width: 49%; }

.articleItem p, .mobileItem p {
  margin-top: -5px;
  background-color: black;
  color: white;
  padding: 1rem;
  min-height: 4rem; }

.articleItem p a, .mobileItem p a {
  color: white;
  text-decoration: none; }

.mobileItem p {
  background-color: #009BA9; }

.toggleItemOn {
  display: none; }

.bannerBar {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: content-box; }

footer {
  background-color: black;
  padding: 1rem; }
  footer .footerNav li {
    display: inline; }
  footer .footerNav a {
    font-size: 120%;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem; }
  footer .footerNav .active {
    color: red; }
  footer .footerLogoBar {
    text-align: center;
    height: 4rem; }
  footer .copyrightBar {
    color: white;
    text-align: center; }

/* Media Query for Tablets in Portrait mode */
@media only screen and (max-width: 768px) {
  #container {
    width: 100%;
    margin: 0; }

  .verticalBanner {
    display: none; }

  .threeColStandard {
    width: 100%; }

  .twoColStandard {
    width: 100%; }

  .articleItem p, .mobileItem p {
    padding: 0.4rem;
    min-height: 5rem; } }
/* Media Query for Smartphones (changed to 640px instead of 480px) */
@media only screen and (max-width: 640px) {
  #container {
    width: 100%;
    margin: 0; }

  #bannerArea {
    display: none; }

  .verticalBanner, .bannerBar {
    display: none; }

  .toggleItemOn {
    display: block;
    width: 49%; }

  .toggleItemOff {
    display: none; }

  .threeColStandard {
    width: 100%; }

  .twoColStandard {
    width: 100%; }

  .threeColStandard .articleItem {
    width: 49%; }

  .articleItem p, .mobileItem p {
    min-height: 4rem; }

  .footerLogoBar {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
